.window {
    background-color: #042442;
    border-radius: 15px;
    height: 300px;
    z-index: 0;
    box-shadow: 0 10px 10px gray;
    padding: 0 15px;
  }
  
  .top {
    background-color: #03192e;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .dot {
    margin-top: 15px;
    margin-right: 5px;
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    z-index: 999;
  }
  
  @keyframes blink {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }
  
  .codeBlock {
    span {
      border-radius: 0 !important;
      border-bottom-left-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
      font-family: monospace !important;
      font-size: 0.9em !important;
    }
  }
  
  .chooseLanguage {
    background-color: rgb(43, 43, 43);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0.25rem;
  
    button {
      background-color: rgb(43, 43, 43);
    }
  }
  
  .card {
  margin: 1rem 0;
  min-height: 450px;
}

@media (max-width: 768px) {
  .card {
    max-height: 20vw;
    padding: 1rem 0.5rem;
  }
  .card-body {
    padding: 1rem 0.5rem;
  }
  .card-header {
    font-size: 1.1rem;
    padding: 0.75rem 0.5rem;
  }
}
  
  .editorLogo {
    width: 100px;
    height: 100px;
    transition: 0.1s linear;
  
    &:hover {
      width: 110px;
      height: 110px;
      transition: 0.1s linear;
    }
  }